.Button-label {
    font-size: 1rem;
    color: #3A3229;
    font-weight: bold;
    margin-left: 2.5%;
}

.Button {
    margin-left: 2.5%;
    border-color:  #fadd96;
    background-color:  #f3e0b5;
    padding: 0.5rem 1rem;
    justify-self: end;
    border-radius: 10px;
    border:none;
    font-size: 1rem;
    color: #3A3229;
}

.Button:hover {
    background-color: #fadd96;
    border-radius: 15px;
    transition: 0.2s;
}

.container {
    margin-left: 2.5%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f4e6c6;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: #c3b497;
  }
  

  .container input:checked ~ .checkmark {
    background-color: #614d30;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

.checkbox-label {
    font-size: 1rem;
    color: #3A3229;
    font-weight: bold;
}

.input {
    width: 10%;
    padding: 10px 20px;
    margin: 2.5% 2.5% 0 0;
    border-radius: 15px;
    border: 0px;
    font-size: 1rem;
  }