.Header {
    
    text-align: center;
}

.Header-header {
    color: #FFFFFF;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Header-title{
    color: #FFBC11;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    margin: 10px;
    margin-left: 50px
}