.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #F5EFE0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-title {
  color: #3A3229;
  text-align: center;
  font-size: calc(34px + 2vmin);
  font-weight: bold;
  margin: 0%;
}
.App-subheading {
  color: #3A3229;
  text-align: center;
  font-size: calc(15px + 2vmin);
  margin: 0%;
}


