.Interaction {
    background-color: #f5efe0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.Interaction-header {
    flex-direction: column;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.Interaction-input {
    width: 50%;
    padding: 12px 20px;
    margin: 2.5% 2.5% 0 0;
    border-radius: 15px;
    font-size: 1rem;
    background-color: #fcfcfc;
    border: 1px solid #c6c6c6;
    margin-top: 0%;
  }
  .button {
    border-color:  #ffda7e;
    background-color:  #f3e0b5;
    padding: 0.72rem 1rem;
    justify-self: end;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #3A3229;
  }
  .button:hover {
    background-color: #ffda7e;
    border-radius: 15px;
    transition: 0.2s;
}
.Interaction-title {
    color: #3a3229;
    margin: 2.5%;
    font-size: calc(25px + 2vmin);
    font-weight: bold;
}
.Interaction-heading {
    color: #3a3229;
    font-size: calc(25px + 2vmin);
    margin: 2.5%;
    justify-content: start;
}
.Interaction-heading-color {
    width: 100%;
    background-color: #f9d16c;
}
.Interaction-subheading {
    color: #3a3229;
    font-size: calc(7px + 2vmin);
    margin: 2.5%;
    margin-top: 0%;
  }
  .find-form {
    width: 90%;
    padding: 5vh;
    margin: auto;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0.2em 0.2em 0.2em #e0e0e0;
    margin-top: 2.5%;
  }

.Interaction-invalid {
  color: #ff9494;
  font-size: calc(7px + 2vmin);
  margin: 2.5%;
}